<h1> This are <strong><%= @user.email %><strong> 's attended events</h1>

<% @user.attended_event.all.each do |event| %>
      <ul>
       <li><%= event.title %></li>
       <li><%= event.event_date %></li>
      </ul>
<% end %>