<h1>This are our main cool events:</h1>

<ul>
<% @events.each do |event| %>
  <div>
   <h3><%= event.title %></h3>
   <h5><%= event.event_date %></h5>
   <p><%=  event.user_id %></p>
   <p> ------------- </p>
  </div>
<% end %>
</ul>