
<div>
  <h1><%= @event.title %></h1>
  <p></p>
  <h2><%= @event.event_date %></h2>
  <h4><%= @event.creator_id %></h4>   
  <% @event.attendees.each do |attendee| %>
    <ul> 
      <li><%= attendee.email %></li>
    </ul>
  <% end %>
</div>